.item {
  display: flex;
  align-items: center;
}

.label {
  width: 100px;
}

.value {
  width: 200px;
  height: 32px;
  display: flex;
  align-items: center;

  > * {
    width: 100%;
  }

  &.red {
    color: red;
  }
}
