.button {
  padding: 0;
  min-width: 14px;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background: transparent !important;
  }

  span {
    height: 100%;
    width: 100%;
    display: flex;
  }
}
